* {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

#landing {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  border: 5px solid #f1f1f1;
}

.jumbotron {
  background-color: transparent;
}

#gallery {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  border-radius: 6px;
}

ul {
  list-style: none;
  padding: 0;
}

h2 {
  color: #007bff;
}

.tools {
  padding: 25px;
  height: 200px;
  border: 5px solid #f2f2f2;
  margin: 20px;
  width: 75%;
  color: white;
  border-radius: 6px;
}

html {
  scroll-behavior: smooth;
}